<div class='field'>
  <%= f.label :account_id, 'Select an Account' %>
  <%= f.select :account_id, options_for_select(Account.all.map { |a| [ a.name, a.id ] }) %>
</div>

<div>
  <%= f.label :due_at %>
  <%= f.date_select :due_at %>
</div>